{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">

            </a>
            <h1>The Boston Celtics Big 4</h1>
           <a href="https://www.youtube.com/watch?v=ibeeEyn2htY">The Show time !!!</a>
        </div>
    </div>
    <div class="container">

    <table class="table table-bordered">
        <thread>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Position</th>
            </tr>
        </thread>
        <tbody>
          <tr>
            <th scope="row">5</th>
            <td>Kevin</td>
            <td>Garnett</td>
            <td>Power Forward</td>
          </tr>
          <tr>
              <th scope="row">34</th>
              <td>Paul</td>
              <td>Pierce</td>
              <td>Small Forward</td>
          </tr>
          <tr>
              <th scope="row">20</th>
              <td>Ray</td>
              <td>Allen</td>
              <td>Shooting Guard</td>
          </tr>
          <tr>
              <th scope="row">9</th>
              <td>Rajon</td>
              <td>Rondo</td>
              <td>Point Guard</td>
          </tr>
        </tbody>
    </table>


                <ul>
                    <li><p>In his best season with the Celtics (2007-2008) Garnett averaged 18.8 points and 9.2 rebounds a game. KG was a great mid-range shooter and was great in the post.
                            In that same year he defeated the LA Lakers to bring a banner back to Boston. KG’s postgame reaction will be remembered forever.</p></li>

                    <li><p>Paul Pierce averaged 25 points per game for the 2006-07 Boston Celtics, who won 24 games. The following season, Pierce’s scoring production fell to 19.6 points.
                            Fortunately, he had a championship banner nearby to mop up any tears that drop may have caused.</p></li>
                    <li><p>At the end of the day, Allen has every reason to look back at his Celtics tenure as a massive success. He had been to the playoffs just four times in 11 years prior to his arrival in Boston.
                               Allen would be a Hall of Famer even if he hadn't added an NBA title to his resume in 2008—and then another with the Heat in 2013—but his role in the Celtics' Big Three era further solidified his legacy in the league.</p></li>
                    <li><p>Rondo secured a spot in the starting lineup, starting in every game. Surrounded by All-Stars Kevin Garnett, Paul Pierce and Ray Allen, he quickly became a steady, consistent player. In his 77 games played, he averaged 10.6 points per game, 5.1 assists per game and 4.2 rebounds per game.
                            His role as a playmaker reflected in him leading the team in assists and steals. </p></li>

                </ul>
    </div>

{% endblock %}
